
<!doctype html>
<!--[if lt IE 7]> <html class="no-touch no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-touch no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-touch no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9 no-touch no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-touch no-js"> <!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <link rel="shortcut icon" type="image/png" href="//cdn.shopify.com/s/files/1/0147/8382/t/21/assets/favicon.png?12664614396164381279">
  <title>
    Your Location
  </title>   
   <script>
//<![CDATA[
      var Shopify = Shopify || {};
      Shopify.shop = "the-new-standard-theme.myshopify.com";
      Shopify.theme = {"name":"New Standard","id":19462212,"theme_store_id":429,"role":"main"};

//]]>
</script>
<script>
//<![CDATA[
    (function() {
      function asyncLoad() {
        var urls = ["\/\/productreviews.shopifycdn.com\/assets\/v3\/gv.js?shop=the-new-standard-theme.myshopify.com"];
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = urls[i];
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      }
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
    })();

//]]>
</script>
<script id="__st">
//<![CDATA[
var __st={"a":1478382,"offset":-14400,"reqid":"2804fd05-276d-4d0c-8744-3f8826a775e9","pageurl":"the-new-standard-theme.myshopify.com\/pages\/country-location","s":"pages-9627666","u":"cfd3a375fb88","p":"page","rtyp":"page","rid":9627666};
//]]>
</script>
<script>
//<![CDATA[
      (function() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6';
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();

//]]>
</script>
<script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-42189134-16', 'auto', {'allowLinker': true});ga('send', 'pageview');
      (function(){
        ga('require', 'linker');
        function addListener(element, type, callback) {
          if (element.addEventListener) {
            element.addEventListener(type, callback);
          }
          else if (element.attachEvent) {
            element.attachEvent('on' + type, callback);
          }
        }
        function decorate(event) {
          event = event || window.event;
          var target = event.target || event.srcElement;
          if (target && (target.action || target.href)) {
            ga(function (tracker) {
              var linkerParam = tracker.get('linkerParam');
              document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
            });
          }
        }
        addListener(window, 'load', function(){
          for (var i=0; i<document.forms.length; i++) {
            if(document.forms[i].action && document.forms[i].action.indexOf('/cart') >= 0) {
              addListener(document.forms[i], 'submit', decorate);
            }
          }
          for (var i=0; i<document.links.length; i++) {
            if(document.links[i].href && document.links[i].href.indexOf('/checkout') >= 0) {
              addListener(document.links[i], 'click', decorate);
            }
          }
        })
      }());
    </script><script type="text/javascript" src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-0d3fe1a35646576f3c3c3671eb30f8dc.js"></script>

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0147/8382/t/21/assets/respond.min.js?12664614396164381279" type="text/javascript"></script>
<link href="//cdn.shopify.com/s/files/1/0147/8382/t/21/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="//the-new-standard-theme.myshopify.com/search?q=635573094cbc8a08678d860d83e2ce0b" id="respond-redirect" rel="respond-redirect" />
<script src="//the-new-standard-theme.myshopify.com/search?q=635573094cbc8a08678d860d83e2ce0b" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 8]>
<script src="//cdn.shopify.com/s/files/1/0147/8382/t/21/assets/json2.js?12664614396164381279" type="text/javascript"></script>
<![endif]-->

    
  <link href="//fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet" type="text/css"  media="all"  /> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0147/8382/t/21/assets/modernizr.min.js?12664614396164381279" type="text/javascript"></script>

</head>

<body id="your-location" class="template-page">

  <div class="wrapper">
    <div id="content" role="main">
      <div class="page-container">

  <h1>Your Location</h1>

  <div class="grid">
    <div id="page-content" class="grid-item col-8 small--col-12">
      <div class="rte">
<p>Country Code: <span id="country-code"></span></p>
<p>Country Name: <span id="country-name"></span></p>
<p>City: <span id="city"></span></p>
<p>IP: <span id="ip"></span></p>
<p>Region code: <span id="region-code"></span></p>
<p>Region name: <span id="region-name"></span></p>
<p>Area code: <span id="area-code"></span></p>
<p>Longitude: <span id="longitude"></span></p>
<p>Latitude: <span id="latitude"></span></p>
<p>Postal Code: <span id="zipcode"></span></p>
<script>// <![CDATA[
jQuery.ajax({
  url: '//freegeoip.net/json/',
  type: 'POST',
  dataType: 'jsonp',
  success: function (location) {
	  jQuery('#city').html(location.city);
	  jQuery('#region-code').html(location.region_code);
	  jQuery('#region-name').html(location.region_name);
	  jQuery('#areacode').html(location.areacode);
	  jQuery('#ip').html(location.ip);
	  jQuery('#zipcode').html(location.zipcode);
	  jQuery('#longitude').html(location.longitude);
	  jQuery('#latitude').html(location.latitude);
	  jQuery('#country-name').html(location.country_name);
	  jQuery('#country-code').html(location.country_code);
	  window.top.location.href = 'http://localhost:8080/coldstart?city='+location.city;	  
  }  
});
// ]]></script>
      </div>
    </div><!-- #page-content -->    
  </div>
</div><!-- #page-container -->
</body>
</html>
