$def with (name, movies)

$if name and movies:
    <h1>These are movies related to <em>"$name.encode("latin_1")"</em>:</h1>        
    <table border="1" cellpadding="5">
    <tr>
    <td bgcolor="eeeeee">
    <b>Movie</b>
    </td>
    <td bgcolor="eeeeee">
    <b>URI</b>
    </td>
    </tr>
    $for movie in movies:
    	<tr>
    	<td>
    		<a href="http://localhost:8081/movie?name=$movie[2]&uri=$movie[0]">$movie[2]</a>
    	</td>    	
    	<td>
    		$movie[0]
    	</td>
    	</tr>    	
    </table>    
$else:
    <h1>No movies found related to <em>"$name.encode("latin_1")"</em>.</h1>